body {
    font-family: Arial, sans-serif;
    background: #89f7fe;
    margin: 0;
}

.container {
    width: 400px;
    margin: 60px auto;
    background: white;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

h1 {
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
}

label {
    font-weight: bold;
}

input {
    width: 95%;
    padding: 8px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    width: 100%;
    padding: 10px;
    background: #2196F3;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background: #1e88e5;
}

.back {
    display: block;
    text-align: center;
    margin-top: 15px;
}

a.button {
    display: inline-block;
    padding: 8px 14px;
    background: grey;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.image-row {
    display: flex;
    align-items: center;
    gap: 15px;
}

.preview-img {
    width: 100px;
    height: auto;
}
